<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="mongoServer" connectionString="mongodb://192.168.1.222"/>
    <!--<add name="dbName"  connectionString="devuppy2"/>-->
    <add name="dbName" connectionString="uppy"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
      
    </startup>
</configuration>
